* {
    margin: 0;
    padding: 0;
}
body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: var(--text-color);
}

.claro {
    --text-color: black; /* criando variável text-color*/
    --bg-url: url(./assets/bg-mobile-light.jpg); /* o -- cria variáveis */

}

body * {
    font-family: 'Inter', sans-serif;
}

#container{
    width: 360px;
    height: 712px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 50px auto 0px;
    text-align: center;
    
}

#profile img {
    width: 75%;
}
#profile p {
    font-weight: 500;
    line-height: 24px;   
}

#container ul {
    list-style: none;
    display: flex; /* para deixar o layout livre*/
    flex-direction: column; /*para trabalhar com coluna*/
    gap: 10px;
        
}

#container ul li a{
display: flex;
border: 1px solid rgba(255, 255, 255, 0.5);
align-items: center; /* alinha em relação à vertical*/
justify-content: center; /* alinha em relação à horizontal*/
padding:  16px 24px; /*16px top e bottom e 24 right e left*/
background: rgba(255,255,255, 0.1);
border-radius: 8px;
text-decoration: none;
color: gray;
font-weight: 500;
transition: background 0.5s;
}

#container ul li a:hover{
background: rgba(255, 255, 255, 0.05);
border: 1px solid white;


}

/*
#social-links ion-icon {
    margin-top: 25px;
    margin-inline-end: 5px;
    font-size: 225%;
} */

#social-links {

    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 24px 0px;
    font-size: 24px;

}

#social-links a {
    padding: 16px;
    border-radius: 50%;
    transition: background 1s;

}

#social-links a:hover{
    background: rgba(255, 255, 255, 0.2);
 
}